body,
footer,
header,
html,
section {
  margin: 0;
  padding: 0;
  overflow: hidden
}

body {
  color: #000;
  background-color: #f7f7f7
}

a {
  text-decoration: none
}

.hide,
.modal-tip {
  display: none
}

.modal-tip {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  filter: alpha(opacity=80);
  height: 100%;
  width: 100%;
  z-index: 100
}

.modal-tip p {
  text-align: center;
  margin-top: 10%;
  padding: 0 5%
}

.modal-tip img {
  max-width: 100%;
  height: auto
}

.pc-header {
  height: 3.4rem;
  line-height: 3.4rem;
  background-color: #0ae;
  font-size: 1.3rem;
  color: #fff;
  text-align: center
}

.pc-container {
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  margin-top: .5rem
}

.qrcode {
  background: #fff;
  border-bottom: 1px dashed #e5e5e5;
  text-align: center
}

.qrcode img {
  max-width: 210px;
  max-height: 210px
}

.qrcode-logo img {
  width: 80px;
  padding: 1rem 0 .5rem
}

.pc-footer,
.qrcode-logo {
  text-align: center
}

.pc-footer {
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 3.4rem;
  color: #aaa;
  background-color: #fff
}

